.simulationItem {
    &:hover {
        background-color: rgb(240, 240, 252);
    }
    &.selected {
        background-color: rgb(223, 223, 247);
    }
    svg {
        &.disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}